/* From rendenAtl */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Mortend";
  src: url("https://s.mkswft.com/RmlsZTphM2E1MDI3My01MmY1LTQxYzUtOTY0NC1jMmI4MGQ4MWE1OTU=/Mortend-Light.woff2")
      format("woff2"),
    url("https://s.mkswft.com/RmlsZTo2YTc1MTdkOC00YmViLTQxOGMtOWMyYy05ODA3OWFmNDZjZDA=/Mortend-Light.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mortend";
  src: url("https://s.mkswft.com/RmlsZTpjN2JiYmEyMC05ODkzLTRjM2QtYTg3NC04ZTUwNjJkOTRlMmU=/Mortend-ExtraBold.woff")
      format("woff2"),
    url("https://s.mkswft.com/RmlsZTpjZTJiMWI2Yi1lNTAyLTQ4NzktOGY3MS1jZWUyMTcxYTQ2OTc=/Mortend-ExtraBold.woff2")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mortend";
  src: url("https://s.mkswft.com/RmlsZTphOTdiYTNlNi1lMDBjLTQ4YmMtYjYwZC0yNjJjZjM2Mjk3MmI=/Mortend-ExtraBoldOutline.woff")
      format("woff2"),
    url("https://s.mkswft.com/RmlsZTozMjAyMjczYy1lM2VmLTQ0NDktOGMwYy1iMGFkMmE2MDUyYzM=/Mortend-ExtraBoldOutline.woff2")
      format("woff");
  font-weight: normal;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gothic A1 !important;
  scroll-behavior: smooth;
  color-scheme: dark;
}

h1,
h2,
h3,
h1 span,
h2 span,
h3 span,
[class*="Button"] {
  font-family: "Mortend", sans-serif !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

a,
label,
p {
  font-family: Gothic A1 !important;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.dark {
  --vp-c-bg: #1e1e20;
  --vp-c-bg-elv: #252529;
  --vp-c-bg-elv-up: #313136;
  --vp-c-bg-elv-down: #1e1e20;
  --vp-c-bg-elv-mute: #313136;
  --vp-c-bg-soft: #252529;
  --vp-c-bg-soft-up: #313136;
  --vp-c-bg-soft-down: #1e1e20;
  --vp-c-bg-soft-mute: #313136;
  --vp-c-bg-alt: #161618;
  --vp-c-border: rgba(82, 82, 89, 0.68);
  --vp-c-divider: rgba(82, 82, 89, 0.32);
  --vp-c-gutter: #000000;
  --vp-c-neutral: #ffffff;
  --vp-c-neutral-inverse: #000000;
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
  --vp-c-text-inverse-1: rgba(60, 60, 67, 0.92);
  --vp-c-text-inverse-2: rgba(60, 60, 67, 0.7);
  --vp-c-text-inverse-3: rgba(60, 60, 67, 0.33);
  --vp-c-text-code: #c9def1;
  --vp-c-mute: #313136;
  --vp-c-mute-light: #3a3a3c;
  --vp-c-mute-lighter: #505053;
  --vp-c-mute-dark: #2c2c30;
  --vp-c-mute-darker: #252529;
}

.fontsize {
  font-size: clamp(1rem, 15vw, 10vw);
}

.mobi--current {
  color: rgba(235, 235, 245, 0.6);
}

.mobi:hover::after,
.mobi--current::after {
  transform: scale3d(1, 1, 1);
}

.mobi:first-child::after {
  left: 0;
  width: 100%;
}

.mobi::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 50%;
  width: calc(100% - 9px);
  height: 3px;
  background: rgba(255, 255, 245, 0.86);
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transform-origin: 0 0;
}
